@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body, .App {
  margin: 0;
  padding: 0;

  height: 100vh;

  font-family: 'Noto Sans KR', sans-serif;
}

